.input {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.input:focus {
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
}

.input {
  border-width: 2px;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input {
  padding: 0.75rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
